#macro_nav {
    flex-direction: column;
    margin: 20px 0;

    a {
        text-align: left !important;
        background: none;
        border-radius: 0;
        box-sizing: border-box !important;
        border-left: 3px solid transparent;

        &.active {
            border-left: 3px solid $primary-color;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

.macro-card {
    background: #222;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-control {
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    transition: border 0.2s ease;
    margin-bottom: 10px;
    box-sizing: border-box;

    &:focus {
        outline: initial;
        background: none;
        color: white;
        border-bottom: 2px solid $primary-color;
        box-sizing: border-box;
    }
}

.macro-card textarea {
    margin-bottom: 20px;
}

#delete {
    float: right;
}
