{% extends 'main.html' %}
{% set active_page = "macros" %}

{% block title %}Macros{% endblock %}

{% set macro_types = {
    "macros": ["Command", "Command"],
    "responses": ["Trigger", "Response"],
  } %}
{% set trigger_type, macro_type = macro_types[request.endpoint.split('.')[1]] %}

{% block content %}
<div class="container-fluid">
  <div class="row d-flex flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2" id="sidebar">
    <div class="sidebar-inner">
      <ul class="macro-nav sidebar-nav nav flex-column nav-pills">

        <li class="nav-item">
        <a id="macros" class="nav-link {%if request.url_rule.endpoint == 'macros.macros'%}active{%endif%}" href="{{url_for('macros.macros')}}">Commands</a>
        </li>
        <li class="nav-item"><a id="responses" class="nav-link {%if request.url_rule.endpoint == 'macros.responses'%}active{%endif%}" href="{{ url_for('macros.responses') }}">Responses</a></li>
        {% block macro_sidebar %}{% endblock %}
      </ul>
    </div>
    </div>

    <div class="col-12 col-md-7 col-lg-8 col-xl-10" id="content">
      {% block macro_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
  $("input#save").click(function (e) {
    e.preventDefault();
    var url = "/macros/" + $(".macro-card form").id + "/edit"
    $.ajax({
      type: "POST",
      url: url,
      data: {
        id: $(this).val()
        access_token: $("#access_token").val()
      },
      success: function (result) {
        alert('ok');
      },
      error: function (result) {
        alert('error');
      }
    });
  });
</script>
{% endblock %}