{% extends 'pages/macros/index.html' %}
{% from "pages/macros/partials/_macro.html" import macroEntry %}


{% block macro_sidebar %}
  <script>
    $( document ).ready(function() {
    $("#macro_nav li").removeClass("active");
    $('#macro_nav #macros').addClass('active');
    });
  </script>


  <h5>Macros</h5>
  <div class="card">
    <a href="/macros/macros">New</a>
  </div>

  <div class="card macrolist-card">
    {% for macro in macros %}
      <a href="/macros/macros/{{ macro.id }}">{{ macro.command }}</a>
    {% endfor %}
  </div>
{% endblock %}


{% block macro_content %}
  {% if not current_macro %}
  {% set current_macro = 0 %}
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {{ macroEntry(macro=current_macro, form=form) }}

{% endblock %}
