{% extends 'pages/macros/index.html' %}
{% from "pages/macros/partials/_reaction.html" import reactionEntry %}


{% block macro_sidebar %}
  <script>
      $( document ).ready(function() {
      $("#macro_nav li").removeClass("active");
      $('#macro_nav #reactions').addClass('active');
      });
  </script>

  <h5>Reactions</h5>
  <div class="card">
    <a href="/macros/reactions">New</a>
  </div>

  <div class="card macrolist-card">
    {% for react in reactions %}
    <a href="/macros/reactions/{{ react.id }}">{{ react.trigger }}</a>
    {% endfor %}
  </div>
{% endblock %}



{% block macro_content %}
  {% if not current_react %}
  {% set current_react = 0 %}
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {{ reactionEntry(react=current_react, form=form) }}

{% endblock %}
