{% extends 'pages/macros/index.html' %}
{% from "pages/macros/partials/_response.html" import responseEntry %}


{% block macro_sidebar %}
  <script>
    $( document ).ready(function() {
    $("#macro_nav li").removeClass("active");
    $('#macro_nav #responses').addClass('active');
    });
  </script>


  <h5>Responses</h5>
  <div class="card">
      <a href="/macros/responses">New</a>
  </div>

  <div class="card macrolist-card">
    {% for resp in responses %}
    <a href="/macros/responses/{{ resp.id }}">{{ resp.trigger }}</a>
    {% endfor %}
  </div>
{% endblock %}


{% block macro_content %}

  {% if not current_resp %}
  {% set current_resp = 0 %}
  {% endif %}

  {% with messages = get_flashed_messages() %}
     {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

  {{ responseEntry(resp=current_resp, form=form) }}

{% endblock %}
