{% extends 'pages/macros/index.html' %}


{% block macro_sidebar %}
<div class="sidebar-card">
  <h6>{{ macro_type + " List" }}</h6>
  <ul class="macro-nav sidebar-nav">
    <li class="nav-item"><a class="nav-link d-flex" href="{{ url_for(request.endpoint) }}">New</a></li>

    {% for resp in responses %}
    <li class="nav-item">
      <a class="nav-link {%if current_macro == resp%} active{%endif%}"
        href="{{url_for(request.endpoint, macro_id=resp.id)}}">{{ resp.trigger }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block macro_content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
  {% endif %}
{% endwith %}

{% if not current_macro.id %}
<form class="form-macro" action="/macros/responses/new" method="post">
{% else %}
<form class="form-macro" id="{{current_macro.id}}" action="/macros/responses/{{current_macro.id}}/edit" method="post">
{% endif %}

  <h5>{{ trigger_type }}</h5>
  {{ form.command(class='form-control', value=current_macro.trigger, id=current_macro.id) }}

  <h5>Response</h5>
  {% set response = form.response.process_data(current_macro.response) %}
  {{ form.response(class='form-control', rows='6', label=response, id=current_macro.id) }}
  {{ form.hidden_tag() }}

  <div id="macro-form-buttons">
  {% if current_macro.id %}
  <input id="save" class="button btn btn-success" type="submit" value="Submit" />
    <a href="/macros/responses/{{current_macro.id}}/delete" id="delete" class="button btn btn-danger">Delete</a>
  {% else %}
  <input id="new" class="button btn btn-success" type="submit" value="Submit" />
  {% endif %}
  </div>
</form>
{% endblock %}
