{% extends 'main.html' %}
{% set active_page = "login" %}

{% block title %}Login{% endblock %}

{% block css %}
<!-- <link href="{{ url_for('static', filename='css/login.scss.css') }}" rel="stylesheet" type="text/css"> -->
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-4 ">
	<div id="login-box">
		<div class="logo">
			<h1 class="logo-caption">Login</h1>
		</div>

    <form action="/login" id="login" method=POST class="form-horizontal">
		<div class="control-group">
      <div class="controls">
        {{ form.hidden_tag() }}
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
			  <button type="submit" form="login" class="btn btn-default btn-block btn-custom">Login</button>
			</form>
		  </div>
		</div>
		</div>
	</div>
</div>
{% endblock %}
