{% extends 'layouts/main.html' %}
{% block title %}Quotes{% endblock %}
{% block content %}

<script>
$(".nav li").removeClass("active");
$('nav #stats').addClass('active');
</script>

<script src="{{url_for('static', filename='bower_components/highcharts/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/themes/grid.js')}}"></script>

  <div class="container-fluid">

  <div class="row" id="main">
    <div class="col-4" id="sidebar">
    </div>

    <div class="col-8" >
      <div id="chart-container"></div>
      <script language="JavaScript">

$(document).ready(function() {
   var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false
   };
   var title = {
      text: 'User Quotes'
   };
   var tooltip = {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
   };
   var plotOptions = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };
   var users= [{{quote_stats|safe}}];
   console.log(users);
   var json = {};
   json.chart = chart;
   json.title = title;
   json.tooltip = tooltip;
   json.series = users;
   json.plotOptions = plotOptions;
   $('#chart-container').highcharts(json);
});
</script>

    </div>
  </div>
</div>

{% endblock %}
