#login-box {
    margin-top: 20vh;
    background: #222;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);



    .logo-caption {
        text-align: center;
        margin-bottom: 5vh;
        color: white;
    }

    input {
        margin-bottom: 20px;
    }

    button {
        margin-top: 10px;
        background: #5cb85c;
        color: white;
    }
}

#login .controls {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
