@import "bootstrap/bootstrap";

$nav-color: #202225;
$bg-color: #2f3136;
$fg-color: #36393f;

@media (min-width: 1200px) {
  #sidebar {
    flex: 0 1 320px;
  }
}

html,
body {
  background: $bg-color;
}

:-webkit-scrollbar {
    display: none;
}

.navbar {
  @include media-breakpoint-up(md) {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: 2000; // over everything in bootstrap
    }
  }
  background: $nav-color;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);


}

#sidebar {
  @include media-breakpoint-up(md) {
  @supports (position: sticky) {
    position: sticky;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
    flex: 0 1 240px;
    overflow-y: auto;
    scrollbar-width: none;
    }
  }
  font-weight: bold;
  background: $nav-color;
  padding: 0;
  z-index: 1000 !important;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);

  .sidebar-inner {
    margin-top: 1.5em;
  }

  .sidebar-header {
    color: darken(gray, 5%);
    padding-left: 1em;
    margin-bottom: 10px;
  }

  .guild-nav
  .nav-link.active {
    color: lighten(gray, 25%) !important;
    background: none;
    &:before {
      content: "";
      background: white;
      position: absolute;
      width: 5px;
      height: 45px;
      left: 0;
      border-top-right-radius:10px;
      border-bottom-right-radius: 10px;
    }
    .avatar {
      border-radius: 15px;
    }
  }

  .sidebar-nav {
    margin-bottom: 2em !important;
  }

  .user-link,
  .guild-link {
    color: gray;

    :first-child {
      margin-right: 0.75em;
    }
  }

  .guild-link {
    align-items: center;
  }
}


#content {
  margin-top: 2em !important;
  margin: 0 auto;
}


.quote-card {
  background: $fg-color;
  color: #e1e1e1;
  padding: 1em;
  margin: 0 0 0.75em 0;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.80);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.80);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.80);

  .quote-dropdown {
    color: #6c757d;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      color: white;
      background: none;
      border: none;
    }
  }

  .dropdown-menu {
    background: $nav-color;
    min-width: 5rem;

    li {
      padding: 0.3em 0 0 0.5em;
    }

    li a {
      color: #6c757d;

      &:hover,
      &:focus,
      &:active {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.quote-heading {
    background: #36393f;
    justify-content: center;
    flex-direction: row;
    text-align: center;

  .timestamp, .quote-username {
    margin-top: 5px;
  }
  .avatar {
    margin-right:.75em;
  }

  .quote-username {
    margin-right: .5em;
    color: #e1e1e1;
    font-weight: bold;
    line-height: 20px;
  }
  .timestamp {
    font-size: 90%;
  }
}

.quote-dropdown {
    display: flex;
    background: none;
    border: none;
    color: black;

    &::after {
    margin-left: 0;
    }
}

.quote-body {
  padding-top: 0;
  margin-left: 2.2em;
}

.avatar.default-icon {
  background: lighten($fg-color, 10%)
}

img.avatar {
  height: 2.5em;
  min-width: 2.5em;
  border-radius: 50%;

  #sidebar & {
    height: 3em;
    min-width: 3em;
  }
}


#paginator.pagination {
  .page-item {
    &.active .page-link {
      background:lighten($bg-color, 10%);
      pointer-events: none;
      cursor: default;
    }
    &.disabled .page-link {
      background: $bg-color;
      pointer-events: none;
      cursor: default;
    }
    &:first-child .page-link,
    &:last-child .page-link {
      background: $fg-color;
    }
    .page-link {
      background:none;
      border-radius: 5%;
      border: 1px solid lighten($nav-color, 0%);
      color: white;
    }
    .page-link:focus {
        box-shadow: 0 0 0.1rem 1px white;
    }
  }
}