// Quote page CSS




#sidebar {
    .card {
    margin-bottom:20px;
    background:#111111;
    }

    a {
        color:white;
        padding:10px;
        background: #32353c;
        margin-bottom:1px;
    }

}


.quote-card {
    background:#191A1C;
    margin-bottom: 10px;

    .quote-block {
        padding:0;
    }

    .quote-heading {
        color:white;
        background-color:#32353C;
        padding:10px;
        margin-bottom: 0;

        label {
            display:inline-block;
        }

        a {
            color:white;
        }
    }

    .quote-body {
        padding:15px;
        color:white;
        word-wrap: break-word;}
}


.dropdown-toggle::after {
    margin-left: 0;
}

.dropdown {
    float:right;
    margin-top: -65px;
    margin-right:10px;
    background: none;

    .btn {
        background:none;
        border:none;
        padding: 0 5px;
    }

    .dropdown-menu {
        font-size: 12px;
        min-width:80px;
        min-width:inherit;

        li {
            white-space: nowrap;

            a {
                padding:10px;
            }
        }

    }
}

.user {
    a {
        display:flex;
        align-items:center;
    }
    img {
    height:40px;
    width:40px;
    border-radius:50px;
    margin-right:15px;
    }
}

.avatar {
    display: inline-block;

    img {
        height:40px;
        width:40px;
        border-radius:50px;
        margin-right:10px;
    }

}
.timestamp {
    margin-left:54px;
    margin-top:-14px;
    color: #5d6169;
}
