{% extends 'macros/index.html' %}



{% block macropage %}

{% if not current_macro %}
{% set current_macro = 0 %}
{% endif %}

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


  <div class="container-fluid">

    <script>
      $( document ).ready(function() {
      $("#macro_nav li").removeClass("active");
      $('#macro_nav #macros').addClass('active');
      });
    </script>

  <div class="row" id="main">
    <div class="col-4" id="sidebar">
      <!-- <h5>Stats</h5>
      <div class="card stats-card">
      </div> -->
      <div class="card">
      <a href="/macros/macros">New</a>
      </div>

      <h5>Macros</h5>
      <div class="card macrolist-card">
        {% for macro in macros %}
          <a href="/macros/macros/{{ macro.id }}">{{ macro.command }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-8" >
        {% from "macros/partials/_macro.html" import macroEntry %}
        {{ macroEntry(macro=current_macro, form=form) }}
    </div>
  </div>
</div>
</div>

{% endblock %}
