<div class="sidebar-inner d-flex flex-column">
  <h6 class="sidebar-header d-flex">Servers</h6>
  <ul class="guild-nav sidebar-nav nav nav-pills flex-column d-flex">
    {% for guild in data.guilds %}
    <li class="nav-item">
      <a class="nav-link guild-link d-flex{%if guild.id|string == data.current_guild %} active{%endif%}" href="{{url_for('quotes.quotes', guild=guild.id)}}">
        {% if guild.icon_url != '' %}
          <img class="avatar" src="{{guild.icon_url}}">
        {% else %}
          <img class="avatar default-icon" src="{{url_for('static',filename='img/discord_icon.png')}}">
        {%endif%}
        {{guild.name}}
      </a>
    </li>
    {% endfor %}
  </ul>


  {% if data.current_guild is not none %}
  <h6 class="sidebar-header d-flex">Users</h6>
  <ul class="user-nav sidebar-nav nav nav-pills flex-column d-flex">
    {% for member in data.members %}
      <li class="nav-item">
        <a class="nav-link user-link d-flex align-items-center" id="{{member.user_id|string}}" href="{{url_for('quotes.quotes', guild=data.current_guild, user=member.user_id)}}">
          {% if member.user.avatar_url == '' %}
          <img class="avatar default-icon" src="{{url_for('static',filename='img/discord_icon.png')}}">
          {% else %}
          <img class="avatar" src="{{member.user.avatar_url}}">
          {% endif %}
          <div class="name">{{ member.display_name }}</div>
        </a>
      </li>
    {% endfor %}
  {% endif %}

</div>