{% extends 'layouts/main.html' %}
{% from "pages/quotes/partials/entry.html" import quoteEntry with context %}
{% from "pages/quotes/partials/user_entry.html" import userEntry %}
{% from "pages/quotes/partials/channel_entry.html" import channelEntry %}
{% from "pages/quotes/partials/paginator.html" import paginator %}

{% block title %}Quotes{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='js/embed.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='js/quotes.js')}}"></script> -->

  <script>
    $( document ).ready(function() {
      $(".nav li").removeClass("active");
      $('nav #quotes').addClass('active');
    });
  </script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row" id="main">

      <div class="col-2" id="sidebar">

        <h6>Channels</h6>

        <div class="card channel-card">
          {% for channel in channels %}
            {{ channelEntry(current_channel, channel, user) }}
          {% endfor %}
        </div>

        <h6>Users</h6>

        <div class="card users-card">
          {% for u in users %}
            {{ userEntry(current_channel, u, user) }}
          {% endfor %}
        </div>

      </div>

      <div class="col-10" id="page">

        {% if current_channel == 'all' %}
          <h6>{{current_channel|title}}</h6>
        {% else %}
          <h6>#{{current_channel}}</h6>
        {% endif %}

        {% for quote in quotes[::-1] %}
          {% for u in users if quote.user == u %}
            {{ quoteEntry(current_user, u, quote) }}
          {% endfor %}
        {% endfor %}

        {{ paginator(user, current_channel, current_page, pages) }}

      </div>
    </div>
  </div>
{% endblock %}
