{% extends 'main.html' %}
{% from '/pages/quotes/_macros.html' import quote_entry, render_pagination %}

{% set active_page = "quotes" %}

{% block title %}Quotes{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row d-flex flex-xl-nowrap">

    <nav class="col-12 col-md-3 col-xl-2" id="sidebar">
    {% include 'pages/quotes/_sidebar.html' with context %}
    </nav>

    <div class="col-12 col-md-7 col-lg-8 col-xl-7 pt-3 pl-md-3" id="content">
    {% if data.current_guild != none %}

      {% if data.pages.total >= 1 %}
        {% for quote in data.pages.items %}
        {{ quote_entry(data, quote, current_user) }}
        {% endfor %}
        {{ render_pagination(data.pages) }}
      {% else %}
      <h2 class="text-white text-center">No quotes found...</h2>
      {% endif %}
    {% else %}
    <h2 class="text-muted"> <br><- Select a server.</h2>
    {% endif %}
    </div>

  </div>

</div>
{% endblock %}
