<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.scss.css') }}">

  {% block custom_css %}{% endblock %}

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block scripts %}{% endblock %}
</head>

{% set navigation_bar = [
    (url_for('quotes.quotes'), 'quotes', 'Quotes'),
    (url_for('macros.macros'), 'macros', 'Macros'),
  ] -%}

{% set active_page = active_page|default('home') -%}

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Miss Cleo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarToggler"
      aria-controls="NavbarToggler" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="NabarToggler">
      <ul id="nav" class="nav navbar-nav">
        {% for href, id, caption in navigation_bar %}
        <li class="nav-item {%if id == active_page%}active{% endif %}">
        <a class="nav-link" id="{{id}}", href="{{href}}">{{caption}}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="ml-auto navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link button-logout" href="{{url_for('login.logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link button-login" href="{{url_for('login.login')}}">Login</a>
        </li>
        {% endif %}
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-block alert-danger">
      <a class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}

  {% block custom_js %}{% endblock %}

</body>
</html>